<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFDA7ED41D45A6EF008744D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFDA7EE81D45A6F0008744D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFDA7EF31D45A6F0008744D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
